/* Shapes */

$color-text-background: #fff;
$color-footer: #686de0;
$color-page-background: #c3cfe2;
$color-grid: #232c3d;


/* Texts */

$color-testimonial-text: #666666;
$color-footer-text: #b3b6eb;
$color-white-text: #fff;


/* Social Media Buttons */

$color-blog: #e17b77;
$color-facebook: #3b5998;
$color-twitter: #00aced;
$color-github: #333;
$color-linkedin: #007bb6;