.fa-laptop-code::before {
    content: "\f5fc";
    color: $color-white-text;
}
.fa-twitter::before {
    content: "\f099";
    color: $color-white-text;
}
.fa-linkedin-in::before {
    content: "\f0e1";
    color: $color-white-text;
}
.fa-facebook-f::before {
    content: "\f39e";
    color: $color-white-text;
}
.fa-github::before {
    content: "\f09b";
    color: $color-white-text;
}