/* Grid Proportions */

/* Desktop */

$grid-width-d: 82vw;
$grid-area-d: 24vw;
$grid-gap-d: 5vw;

/* Tablet */

$grid-width-t: 80vw;
$grid-area-t: 37.5vw;
$grid-gap-t: 5vw;

/* Mobile */

$grid-width-m: 70vw;
$grid-area-m: 70vw;
$grid-gap-m: 5vw;